.game {
  text-align: center;
}

.button {
  margin-top: 50px;
  margin-bottom: 0;
  width: 304px;
}

.gameBoard {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 300px;
  height: 300px;
  border: 2px black solid;
}

.gridBox {
  width: 148px;
  height: 148px;
  border: 1px black solid;
  text-align: center;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.red {
  background: red;
}
