.game {
  text-align: center;
}

.button {
  height: 50px;
  margin-bottom: 10px;
  width: 304px;
}

.gameBoard {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 450px;
  height: 450px;
}

.gridSquare {
  width: 86px;
  height: 86px;
  border: 1px black solid;
  text-align: center;
  margin: 1px;
  border-radius: 5px;
}
.clear {
  background: white;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.red {
  background: red;
}

h1 {
  margin: 50px 0 10px 0;
}
